<div class="sx-box">
    <div class="sx-box-header">
        <b class="title">订单管理</b>
    </div>
    <div class="sx-box-filter">
        <div class="filter-item"><input placeholder="司机姓名" ng-model="vm.name"></div>
        <div class="filter-item"><input placeholder="司机手机号" ng-model="vm.phone"></div>
        <div class="filter-item"><input placeholder="请输入车型"></div>
        <div class="filter-item"><input placeholder="订单编号"></div>
        <div class="filter-item filter-item-btngroup">
            <button class="sx-btn" ng-click="vm.handle.query()">查询 <i class="fa fa-search"></i></button>
            <button class="sx-btn sx-btn-white" ng-click="vm.handle.rest()">重置 <i class="fa fa-refresh"></i></button>
        </div>
    </div>

    <div class="sx-box-body">
        <table class="sx-table">
            <thead>
                <tr>
                    <th>司机姓名/电话</th>
                    <th>订单ID</th>
                    <th>车型</th>
                    <th class="td-r">月租金/押金</th>
                    <th class="td-c">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in vm.dataList">
                    <td>{{::item.driver_name}}/{{::item.phone}}</td>
                    <td>{{:: item.id}}</td>
                    <td>{{:: item.brand_name}}</td>
                    <td class="td-r">{{:: item.deposit}}/{{:: item.rent}}</td>
                    <td class="td-c">
                        <button class="sx-btn sx-btn-white sx-btn-sm">详情</button>
                    </td>
                </tr>
            <tbody>
        </table>
        <div class="clearfix">
            <sx-pagination class="pull-right"></sx-pagination>
        </div>
    </div>

</div>