/**
 * Created by Rayr Lee on 2017/6/10.
 */

.sx-table {
    width: 100%;
    thead {
        background-color: #F2F2F2;
        height: 60px;
        line-height: 60px;
    }
    tbody tr {
        border-bottom: 1px solid $border-color;
        transition: all 0.2s;
        &:hover {
            background: #f8f8f8;
        }
    }
    th {
        padding: 0 22px;
        border-radius: 2px;
        font-size: 16px;
        color: #515151;
        font-weight: normal;
    }
    td {
        padding: 23px 22px;
        font-size: 14px;
        color: #515151;
    }
    .td-c {
        text-align: center;
    }
    .td-r {
        text-align: right;
    }
}